.jumbotron-form
{
  margin-top: 20px;
}
.logonavbar
{
	width:45px;
	padding: 0;
	margin: 0;
  margin-right:10px;
	float: left;
  border-radius: 5px;
}
.btn
{
  cursor:pointer;
}
#my-table_filter
{
  margin-left:10px; 
}
#my-table_paginate
{
  margin-left:50%;  
}
.filters
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.footer 
{
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
body 
{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.imagelogo
{
  width:400px;
  display: block;
  margin : auto;
}
.imageprofil
{
  width:200px;
  display: block;
  margin : auto;
  border-radius: 10px;
}
#logincontainer
{
  margin: auto;
  height: 100px;
  width: 300px;
}
.input-sm
{
  margin-right:10px;
  margin-left:10px;
}
.table-profile-picture
{
  border-radius: 5px;
  width: 55px;
}
.multiple-files
{
  display: block; 
  width: 100%;
  margin-bottom: 20px;
}
.file-list
{
  margin-left:10px;
}
.ms-container{
	width: 550px !important;
}